<section class="padded-mob" id="content-blocks-{{forloop.index0}}">
  <section class="grid border-mob margin-top" id="{{item.content-block-link}}">

    <div class ="col-5_sm-6_xs-12 grid padded desktop-hide"> 
      <div class=" col-12 padded-s border" >
        <div class =" bg-image" style="background-image: url('{{item.food-image}}');"></div>
      </div>
    </div>
    
    <div class ="col-7_sm-6_xs-12 grid padded"> 
      <div class=" col-12 grid padded-s border" >
      <div class =" col-11 grid padded">
          <h2 class="centered col-12 uppercase">{{item.heading}}</h2>
          <p class="left col-12 ">{{item.description}}</p>
          <h3 class="left col-12-bottom uppercase">{{item.price}}</h3>
          <p class=" left margin-top col-12 mob-hide"><a  class="button"  href="{{item.button-link}}">{{item.button-text}}</a></p>
      </div>
      <div class =" col-1-middle  uppercase border-left">
        <h5 class="line-spacing padded-top padded-bottom">{{item.day_html}}</h5>
      </div>
      <p class=" margin-top col-12 desktop-hide"><a  class="button"  href="{{item.button-link}}">{{item.button-text}}</a></p>
      <p class=" right margin-top col-12 tablet-show"><a  class="button"  href="{{item.button-link}}">{{item.button-text}}</a></p>
      </div>
    </div>

    <div class ="col-5_sm-6_xs-12 grid padded mob-hide-tab-show"> 
      <div class=" col-12-top padded-s border" >
        <div class =" bg-image" style="background-image: url('{{item.food-image}}');"></div>
      </div>
    </div>
    
  </section>
</section>