<section class="grid-right banner light-bg padded " style="background-image: url('{{item.hero-image}}');" id="content-blocks-{{forloop.index0}}">
    <div class="col-5_sm-9-bottom mob-hide light-bg shadow padded " id="{{item.content-block-link}}">
      <h2 class="big-bold light-bg"> {{item.heading}}</h2>
      <p class="emphasis  light-bg"> {{item.description}} </p>
      <p class="button"> <a href="{{item.button-link}}">{{item.button-text}}</a></p>
    </div>
</section>
<section class="grid padded desktop-hide ">
  <div class="col-12-bottom  bump-up  light-bg shadow padded " id="{{item.content-block-link}}">
    <h2 class="big-bold light-bg"> {{item.heading}}</h2>
    <p class="emphasis  light-bg"> {{item.description}} </p>
    <p class="button"> <a href="{{item.button-link}}">{{item.button-text}}</a></p>
  </div>
</section>

<section class="grid padded tablet-show ">
  <div class="col-12-bottom  bump-up  light-bg shadow padded " id="{{item.content-block-link}}">
    <h2 class="big-bold light-bg"> {{item.heading}}</h2>
    <p class="emphasis  light-bg"> {{item.description}} </p>
    <p class="button"> <a href="{{item.button-link}}">{{item.button-text}}</a></p>
  </div>
</section>