<section class="grid-center padded light-bg">
 <div class="grid-center col-9_sm-10_xs-12">
  <div class="col-12">
    <h3>{{item.heading}}</h3>
  </div>
  <div class="col-12 grid-top padded">    
    <h4 class=" col-1_xs-2 radius orange-bg white-text  padded-s ">{{item.title-1}}</h4>
    <p class="col-10 left padded-sides">{{item.text-area-1}} </p>
  </div>
  <div class="col-12 grid-top padded">    
    <h4 class=" col-1_xs-2 radius orange-bg white-text  padded-s ">{{item.title-2}}</h4>
    <p class="col-10 left padded-sides">{{item.text-area-2}} </p>
  </div>
  <div class="col-12 grid-top padded">    
    <h4 class=" col-1_xs-2 radius orange-bg white-text  padded-s ">{{item.title-3}}</h4>
    <p class="col-10 left padded-sides">{{item.text-area-3}}</p>
   </div>
   <div class="col-12 grid-top padded">    
     <h4 class=" col-1_xs-2 radius orange-bg white-text  padded-s ">{{item.title-4}}</h4>
     <p class="col-10 left padded-sides">{{item.text-area-4}}</p>
     <div class="col-3_sm-2_xs-1"></div>
     <div class="col-6_sm-8_xs-10 center"> <p class="button"> <a href="{{item.button-link}}">{{item.button-text}}</a></p></div>
     <div class="col-3_sm-2_xs-1"></div>
   </div>
 </div>
</section>